div {
    margin: 0;
    padding: 0;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.item-header {
    height: auto;
    padding: 4px 0 4px 0;
}

a {
    color: rgb(34, 30, 29);
}

a:visited {
    color: rgb(225, 205, 174);
}

@media (min-width: 1400px) {
    .blocks .block:nth-child(2) {
        border-left: 2px solid rgb(225, 205, 174);
        margin-left: 8px;
        padding-left: 12px;
    }
}

@media (max-width: 1400px) {
    .blocks .block {
        margin-right: 22px;
    }
}